<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boxuegu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.RegisterActivity" /> <!-- android:theme="@style/Theme.AppCompat.NoActionBar"将启动界面状态栏修改为没有 -->
        <activity android:name=".MainActivity" /> <!-- 配置启动界面，将上面的移动入口剪切SplashActivity -->
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>